# System files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# IDE files
.idea/
.vscode/
*.swp
*.swo
*~

# Eclipse
.project
.classpath
.settings/
bin/

# IntelliJ IDEA
*.iml
*.ipr
*.iws

# Visual Studio Code
*.code-workspace

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/services/api-gateway/target/
/services/inventory-service/target/
/services/order-service/target/
/services/payment-service/target/
/services/streaming-service/target/
/services/user-service/target/